<div class="dribbble-page" id="dribbble-page" ng-class="{'animate-enter': animateEnter, 'visible': visible}">
  <div class="user" ng-if="user.id">
    <a href="{{ user.url }}" class="picture" target="_blank">
      <img ng-if="user.picture" src="images/placeholder.png" lazy-img="{{ user.picture }}" />
    </a>
    <div class="name">
      <h2>{{ user.name }}</h2>
      <a href="{{ user.url }}" class="username" target="_blank">@{{ user.username }}</a>
    </div>
    <ul class="stats">
      <li ng-if="user.shots">Shots <strong>{{ user.shots }}</strong></li>
      <li ng-if="user.following">Following <strong>{{ user.following }}</strong></li>
      <li ng-if="user.followers">Followers <strong>{{ user.followers }}</strong></li>
    </ul>
  </div>
  <p ng-if="user.bio" class="bio">{{ user.bio }}</p>
  <div class="posts">
    <ul>
      <li ng-repeat="item in posts" class="post">
        <img ng-if="item.picture" class="pic" src="images/placeholder.png" lazy-img="{{ item.picture }}" ng-click="openPost(item)" />
        <div class="stats">
          <span class="small-icon views"></span><span class="val">{{ item.views }}</span>
          <span class="small-icon heart"></span><span class="val">{{ item.likes }}</span>
          <span class="small-icon comment"></span><span class="val">{{ item.comments }}</span>
        </div>    
      <li>
    </li>
  </div>
</div>
<div class="loading-view" ng-class="{'hidden': visible }"><span>Loading...</span></div>