<header class="main-header animate" ng-class="{'open':menuOpened}">
  <hgroup>
    <a href="#/" rel="home">
      <span class="picture">
        <img ng-src="images/pic.jpg" />
      </span>
      <h1 class="h3">Rodrigo Neri</h1>
     </a> 
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li><a href="#/twitter"><span class="icon twitter"></span><span class="txt">Twitter</span></a></li>
      <li><a href="#/github"><span class="icon github"></span><span class="txt">Github</span></a></li>
      <li><a href="#/dribbble"><span class="icon dribbble"></span><span class="txt">Dribbble</span></a></li>
      <li><a href="#/spotify"><span class="icon spotify"></span><span class="txt">Spotify</span></a></li>
      <li><a href="#/instagram"><span class="icon instagram"></span><span class="txt">Instagram</span></a></li>
      <li><a href="#/youtube"><span class="icon youtube"></span><span class="txt">YouTube</span></a></li>
      <li><a href="#/foursquare"><span class="icon foursquare"></span><span class="txt">Foursquare</span></a></li>
      <li><a href="#/tumblr"><span class="icon tumblr"></span><span class="txt">Tumblr</span></a></li>
    </ul>
  </nav>
  <span class="nav-btn" ng-click="toggleMenu()">
    <span class="nav-btn-bar nb-1"></span>
    <span class="nav-btn-bar nb-2"></span>
    <span class="nav-btn-bar nb-3"></span>
  </span>
</header>