<h3 class="h4">&nbsp;</h3>
<span class="small-icon spotify"></span>
<div class="content">
  <p ng-if="item.tracks.length">Listened to <a href="{{ item.tracks[0].url }}" target="_blank">{{ item.tracks[0].title }}</a> by <a href="{{ item.tracks[0].url }}" target="_blank">{{ item.tracks[0].artist }}</a> and <span ng-if="item.plays > 2"><strong>{{ item.plays - 1 }}</strong> other tracks</span><span ng-if="item.plays == 2"><strong>{{ item.plays - 1 }}</strong> other track</span> on Spotify.</p>
  <p ng-if="!item.tracks.length">Listened to <span ng-if="items.plays > 1"><strong>{{ item.plays }}</strong> tracks</span><span ng-if="items.plays == 1"><strong>{{ item.plays }}</strong> track</span> on Spotify.</p>
  <a href="{{ track.url }}" target="_blank" ng-if="item.tracks" ng-repeat="track in item.tracks" class="pictures"><span class="pic" lazy-img="{{ track.image }}"></span></a>
</div>
